<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Hotels: </h2>
                    <h1 class="title"> {{data?.hotel}} </h1>
                    <p> <button class="button" [routerLink]="['/projects/hotel']">View Hotels</button> </p>
                </div>
        
            </div>
        </div>
    </div>
   <div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total Rooms: </h2>
                <h1 class="title"> {{data?.room}} </h1>
                <p> <button class="button" [routerLink]="['/projects/room']">View Rooms</button> </p>
            </div>
    
        </div>
    </div>
   </div>
   <div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total Reservations: </h2>
                <h1 class="title"> {{data?.reservation}} </h1>
                <p> <button class="button" [routerLink]="['/projects/reservation']">View Reservations</button> </p>
            </div>
    
        </div>
    </div>
   </div>

    
</body>